{% extends "base.html" %}
{% block content %}

<div class="page-container">

    <div class="content-card">

        <h1 class="page-title">
            {{ nome.capitalize() }}
        </h1>

        <p class="page-subtitle">
            Informações nutricionais e recomendações gerais
        </p>

        <div class="info-grid">

            {% for chave, valor in dados.items() %}
            <div class="info-box">
                <h3>{{ chave.capitalize() }}</h3>
                <p>{{ valor }}</p>
            </div>
            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}