<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Noxus Nutri ALPHA</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="landing">

    <!-- BOLHAS ANIMADAS -->
    <div class="bg-bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="landing-box">

        <h1 class="title">
            NOXUS
            <small>NUTRI</small>
            <span>BETA</span>
        </h1>

        <p class="subtitle">
            Plataforma inteligente de nutrição
        </p>

        <a href="/home" class="btn-main">
            Entrar
        </a>

    </div>

</div>

</body>
</html>